<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 55%;">Filename</th>
                <th style="width: 20%;">Size</th>
                <th style="width: 35%;">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% if recent_files and recent_files|length > 0 %}
            {% for file in recent_files %}
            <tr data-key="{{ file.key }}">
                <td class="d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('accounts.download_file', account_url=account.url, file_id=file.id) }}"
                        download>
                        {{ file.key }}
                    </a>
                    <span class="badge border border-secondary text-secondary small fw-normal" role="button"
                        onclick="showFileDetails('{{ file.id }}', '{{ file.key }}', '{{ file.size | filesizeformat }}', '{{ moment(file.last_modified).format('LLL') }}', '{{ file.version }}', '{{ file.last_checked | default('Never', true) }}')"
                        style="cursor: pointer;">
                        v{{ file.version }}
                    </span>
                </td>
                <td>{{ file.size | filesizeformat }}</td>
                <td>{{ moment(file.last_modified).format('LLL') }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3" class="text-center">No recent data available.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>