body {
    font-size: .875rem;
    font-family: 'Outfit', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: #333;
    gap: 0.25rem;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    font-weight: 900;
}

.navbar-nav {
    margin-left: auto;
}

.account-name {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1rem;
    color: #333;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.alerts-table {
    font-size: 0.7em;
}

.alerts-table th,
.alerts-table td {
    padding: 0.3rem;
    /* Reduce padding for compactness */
}

.alerts-table thead th {
    background-color: #f8f9fa;
    /* Light background color for table headers */
    font-weight: bold;
    text-align: left;
}

.alerts-card-title {
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.alerts-card-title i {
    margin-left: 5px;
    color: #ffcc00;
    /* Yellow color for alert icon */
}

#secretUrl {
    word-break: break-all;
    /* Allows breaking the URL at any character to prevent overflow */
    white-space: normal;
    /* Allow wrapping instead of staying on a single line */
}

/* Mobile Icon Nav Bar */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    /* Light background */
    border-top: 1px solid #e7e7e7;
    /* Top border to distinguish from page */
    z-index: 1030;
    /* Ensure it's above other elements */
    padding: 0.5rem 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    /* Light shadow for better separation */
}

.mobile-nav .nav {
    display: flex;
    justify-content: space-around;
}

.mobile-nav .nav-link {
    color: #6c757d;
    /* Use a grey color for inactive links */
    font-size: 1.25rem;
    /* Make icons big enough to tap */
    transition: color 0.2s ease-in-out;
}

.mobile-nav .nav-link.active,
.mobile-nav .nav-link:hover {
    color: #007bff;
    /* Use blue for active or hovered icons */
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
        /* Hide the mobile nav for larger screens */
    }
}