<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
    {% block head %}{% endblock %}
</head>

<body class="has-sidebar">
    {% include 'nav.html' %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="account-name">
                        {{ account.name }}
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' + account.url %}active{% endif %}"
                                href="/{{ account.url }}">
                                <i class="fa fa-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' + account.url + '/settings' %}active{% endif %}"
                                href="/{{ account.url }}/settings">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' + account.url + '/data' %}active{% endif %}"
                                href="/{{ account.url }}/data">
                                <i class="fa fa-database"></i>
                                <span>Data</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' + account.url + '/plots' %}active{% endif %}"
                                href="/{{ account.url }}/plots">
                                <i class="fa fa-chart-line"></i>
                                <span>Plots</span>
                            </a>
                            {% for layout in account.layouts|sort(attribute='name') %}
                                {% if layout.show_nav %}
                                <a class="nav-link ms-3 small {% if request.path == '/' + account.url + '/layout/' + layout.id|string %}active{% endif %}"
                                    href="/{{ account.url }}/layout/{{ layout.id }}">
                                    <span>{{ layout.name }}</span>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </nav>

            <nav class="mobile-nav d-md-none fixed-bottom bg-light">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' + account.url %}active{% endif %}"
                            href="/{{ account.url }}" aria-label="Dashboard">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' + account.url + '/settings' %}active{% endif %}"
                            href="/{{ account.url }}/settings" aria-label="Settings">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' + account.url + '/data' %}active{% endif %}"
                            href="/{{ account.url }}/data" aria-label="Data">
                            <i class="fa fa-database"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path.startswith('/' + account.url + '/plots') or request.path.startswith('/' + account.url + '/layout/') %}active{% endif %}"
                            href="/{{ account.url }}/plots" aria-label="Plots">
                            <i class="fa fa-chart-line"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {% block modals %}{% endblock %}

    {% include 'footer.html' %}

    {% block scripts %}{% endblock %}
</body>

</html>