{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    {% if recent_files and recent_files|length > 0 %}
                    {% for file in recent_files %}
                    <tr>
                        <td><a href="{{ file.download_link }}" download>{{ file.key }}</a></td>
                        <td>{{ file.size | filesizeformat }}</td>
                        <td>{{ file.last_modified }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No recent data available.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}