<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container-fluid px-3">
        <div class="d-flex justify-content-center align-items-center">
            <p class="mb-0">
                © 2024 <a class="text-white text-decoration-none" href="https://neurotechhub.wustl.edu">Neurotech
                    Hub</a>
                <span class="text-muted small ms-3">Washington University in St. Louis</span>
            </p>
        </div>
    </div>
</footer>

<!-- Utilities -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.42/moment-timezone-with-data.min.js"></script>
{{ moment.include_moment() }}

<!-- Icons (defer loading) -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5QRJ4H7XX4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-5QRJ4H7XX4');
</script>