<!-- Getting Started Section -->
<section class="mb-5 py-5 rounded" id="getting-started" style="background-color: #ddedff;">
    <div class="container text-center">
        <h3 class="text-dark mb-4">Ready to start?</h3>
        <script src="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
        <script type="text/javascript">
            var JFL_243083793129058 = new JotformFeedback({
                formId: '243083793129058',
                base: 'https://form.jotform.com/',
                windowTitle: 'Tell us more',
                backgroundColor: '#292929',
                fontColor: '#FFFFFF',
                type: 'false',
                height: 600,
                width: 700,
                openOnLoad: false
            });
        </script>
        <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
        <script>window.jotformEmbedHandler("iframe[id='243083793129058']", "https://form.jotform.com/")</script>
        <p class="lead">To start with Hublink, you will need a <code>&lt;secret_url&gt;</code> and Hublink
            hardware.
        </p>
        <a style="cursor: pointer;" class="learn-more-btn lightbox-243083793129058">
            Tell us more <i style="margin-left: 0.5rem;" class="fa-solid fa-up-right-from-square"></i>

        </a>
    </div>
</section>