<div class="mb-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 id="layoutTitle" 
            class="{% if request.endpoint == 'accounts.layout_edit' %}editable-title{% endif %}"
            {% if request.endpoint == 'accounts.layout_edit' %}onclick="makeEditable(this)"{% endif %}
            >{{ layout.name }}</h2>
        <div class="d-flex align-items-center">
        
        <!-- Mode Toggle -->
        <div class="toggle-container">
            <a href="{% if request.endpoint == 'accounts.layout_edit' %}
                      {{ url_for('accounts.layout_view', account_url=account.url, layout_id=layout.id) }}
                    {% else %}
                      {{ url_for('accounts.layout_edit', account_url=account.url, layout_id=layout.id) }}
                    {% endif %}" 
                class="toggle-switch {% if request.endpoint == 'accounts.layout_edit' %}active{% endif %}">
                <div class="switch-label left">Plots</div>
                <div class="switch-label right">Layout</div>
                <div class="switch-handle"></div>
            </a>
        </div>
    </div>
</div>
